footer {
    position: static;
    margin-top: 10px;
    border-top: 2px solid #373737;
    background-color: #22211e;
    height: 30px;
    font-size: 12px;
    color: #d6d6d6;
}

#footer-left-text {
    float: left;
    margin-left: 10%;

}

#footer-right-text {
    float: right;
    margin-right: 10%;

}

.footer-link {
    color: #d6d6d6; !important;
    border-bottom: 1px solid  #d6d6d6;
}